@keyframes slideInFromLeft{
    0%{
        opacity:0;
        transform: translateX(-100%);
    }
    100%{
        opacity:1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slideInFromUp{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slideInFromDown{
    0%{
        opacity:0;
        transform: translateY(100%);
    }
    100%{
        opacity:1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
